.full-width-table
{
  width: 100%;
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.users-table
{
  padding-top: 2vh;
  width: 99%;
}

.options
{
  padding-top: 2vh;
  align-self: flex-start;
  margin-left: 20vw;
}

.cutom-input
{
  width: 10vw;
}

body
{
  height: 90vh;
}

.form-container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgb(247, 246, 246, 0.5);
  overflow-y: auto;
}

.full-width
{
  width: 100%;
}

.form-card
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  margin-top: 15vh;
}

.mat-radio-button
{
  display: block;
  margin: 5px 0;
}

.row
{
  display: flex;
  flex-direction: row;
  padding-bottom: 1vh;
  padding-top: 0.5vh;
}

.col
{
  flex: 1;
  margin-right: 20px;
}

.col:last-child
{
  margin-right: 0;
}

.submit-div
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cancel-btn
{
  width: 8%;
}

.row2
{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-slider
{
  width: 90%;
}

#textarea
{
  width: 97%;
  height: 60%;
}

#clave6-row
{
  display: flex;
  align-items: baseline;
}

td
{ 
  white-space:pre
}

.historia
{
  width: 20rem;
  height: 3rem;
  cursor: pointer;
}