<div class="container">
    <ul>
        <li>
            <img src="hospital.png" alt="logo" class="logo">
        </li>
        <li ><button (click)="goToHome()">Página principal</button></li>
        <li><h1>{{mensajeBienvenida}}</h1></li>
        @if (this.ingreso)
        {
            <li style="float:right"><button (click)="logOut()">Salir</button></li>
            <li style="float: left;"><button (click)="goToSurvey()">Encuesta</button></li>
        } @else
        {
            <li style="float:right"><button (click)="goToLogin()">Ingresar</button></li>
            <li style="float:right"><button>Registrarse</button></li>
        }
    </ul>
</div>
