<div class="container">
    <ul>
        <li>
            <img style="float: left;" src="hospital.png" alt="logo" class="logo">
        </li>
        <li ><button routerLink="/home">Página principal</button></li>
        <li><h1>{{mensajeBienvenida}}</h1></li>
        @if (this.ingreso)
        {
            <li style="float:right"><button (click)="logOut()">Salir</button></li>
            <li style="float:right"><button routerLink="/mi-perfil">Mi Perfil</button></li>
            @if (this.signInService.userRole == "administrador")
            {
                <li style="float: right;"><button routerLink="/usuarios">Usuarios</button></li>
            }
        } @else
        {
            <li style="float:right"><button routerLink="/ingreso">Ingresar</button></li>
            <li style="float:right"><button routerLink="/registro">Registrarse</button></li>
        }
    </ul>
</div>

