.animate__animated
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.options
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    justify-content: center;
    justify-items: center;
}

.option-btn
{
    width: 16vw;
    height: 7vh;
    background-color: #70c2ee;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}