.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-content
{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.msg
{
    background-color: #418dcb;
    color: white;
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#building
{
    height: 70vh;
    aspect-ratio: auto;
}