<app-header></app-header>
<div class="animate__animated animate__fadeInUp">
    <div class="main-content">
        <img id="building" src="building.jpg">
        <div class="msg">
            <p>La Clínica OnLine, especialista en salud, cuenta actualmente con 6 consultorios, dos laboratorios físicos en
                la clínica, y una sala de espera general. Está abierta al público de lunes a viernes de 8:00 a 19:00, y los
                sábados de 8:00 a 14:00. En ella trabajan profesionales de diversas especialidades, que ocupan los
                consultorios acorde a su disponibilidad, recibiendo pacientes con turno para consulta o tratamiento.
            </p>
        </div>
    </div>
</div>