.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.pacientes
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    padding-top: 10vh;
    overflow-y: auto;
    height: 110%;
}

.card
{
    width: 20vw;
}

.avatar
{
    background-size: cover;
}

p
{ 
    white-space:pre
}

.historia
{
    height: 4rem;
}

.spinner
{
    background-color: white;
}

.detalles
{
    
    height: 3rem;
    overflow: hidden;
}

h3
{
    cursor: pointer;
}

body
{
    overflow: auto;
}