<app-header></app-header>

<div class="animate__animated animate__bounceIn" [style.pointer-events]=" (!this.showSpinner) ? 'auto' : 'none' ">

  @if (this.showSpinner)
  {
    <div class="spinner">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
  }

  @if (this.showHistorias)
  {
    <button id="volver" mat-flat-button (click)="this.showHistorias = false">Volver</button>
    <app-historia class="historias" [historias]="this.historiaCLinica"></app-historia>
  }
  
  <div class="options">
    <button mat-flat-button routerLink="/registro" >Crear nuevo usuario</button>
    <button mat-flat-button (click)="this.descargarHojaCalculo()" >Descargar hoja de cálculo</button>
    <button mat-flat-button (click)="this.descargarLogs()" >Descargar registro de Ingresos</button>
  </div>

  <div class="users-table">
    <div class="mat-elevation-z2">
      <table mat-table class="full-width-table" matSort aria-label="Users">

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.firstname}}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.surname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.dni}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
          <td mat-cell *matCellDef="let row"[appRemarcarRol]="row.role">{{row.age}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.email}}</td>
        </ng-container>

        <ng-container matColumnDef="obra_social">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Obra Social</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.obra_social}}</td>
        </ng-container>

        <ng-container matColumnDef="verification">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Verificación</th>
          <td mat-cell *matCellDef="let row" [appVerificar]="row.verification">{{row.verification | verificacion}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let row" [appRemarcarRol]="row.role">{{row.role}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acción</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <button mat-raised-button (click)="onActionButtonClick($event, row, i)">Cambiar</button> </td>
        </ng-container>

        <ng-container matColumnDef="historial">
          <th mat-header-cell *matHeaderCellDef>Historia Clínica</th>
          <td mat-cell *matCellDef="let row; let i = index">
            @if (row.role == 'paciente')
            {
              <button md-fab class="image" 
                [appAvatarURL]="this.getAvatarURL(row.email)"
                (click)="this.mostrarHistorial(row.email)">
                {{row.email | nombre: this.users}}
              </button>
            } 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    
      <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

</div>

