body
{
  background: url('./app/assets/background.jpg');
  background-size: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--mat-sys-on-surface);
  overflow-y: hidden;
  overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner
{
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 70%;
  position: absolute;
  z-index: 500;
  left: 0;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 0.7s;
}