<app-header></app-header>

<div class="container">

    @if (this.loading)
    {
        <div class="spinner">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
    }

    <div  class="menu">

        @if (this.isAdmin)
        {
            @for (paciente of this.pacientes; track paciente)
            {
                <div class="esp-menu">
                    <h1>{{paciente.firstname}} {{paciente.surname}}</h1>
                    <div class="icon-btn" (click)="this.escogerPaciente(paciente.email)">
                        <img class="icon" src="{{this.getAvatarUrl(paciente.email)}}">
                    </div>
                </div>
            }
        }
        

        @if (this.pacienteEscogido != "" && this.especialidadEscogida == "" && this.especialistaEscogido == "")
        {
            @for (esp of this.especialidades; track esp)
            {
                @switch (esp.nombre)
                {
                    @case ("cardiología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="cardiología" matTooltipPosition="above">
                            <img class="icon" src="heart-beats.png">
                        </div>
                    }

                    @case ("oftalmología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="oftalmología" matTooltipPosition="above">
                            <img class="icon" src="eye.png">
                        </div>
                    }

                    @case ("otorrinolaringología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="otorrinolaringología" matTooltipPosition="above">
                            <img class="icon" src="ear.png">
                        </div>
                    }

                    @case ("neurología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="neurología" matTooltipPosition="above">
                            <img class="icon" src="brain.png">
                        </div>
                    }

                    @case ("traumatología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="traumatología" matTooltipPosition="above">
                            <img class="icon" src="wound.png">
                        </div>
                    }

                    @case ("gastroenterología")
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="gastroenterología" matTooltipPosition="above">
                            <img class="icon" src="stomach.png">
                        </div>
                    }

                    @default
                    {
                        <div class="icon-btn" (click)="this.escogerEspecialidad(esp.nombre)" matTooltip="{{esp.nombre}}" matTooltipPosition="above">
                            <img class="icon" src="caduceus.png">
                        </div>
                    }
                }
            }
        } @else if (this.especialistaEscogido == "")
        {

            @if (this.especialistasCargados)
            {
                @for (esp of this.especialistas?.users; track esp)
                {
                    <div class="esp-menu">
                        <h1>{{esp.firstname}} {{esp.surname}}</h1>
                        <div class="icon-btn" (click)="this.escogerEspecialista(esp.email)">
                            <img class="icon" src="{{this.getAvatarUrl(esp.email)}}">
                        </div>
                    </div>
                }
            }

        } @else 
        {
            @for (hor of this.horariosDelEspecialista; track $index)
            {
                <div class="esp-menu">
                    <div class="turno-btn">
                        <h1>{{this.horariosDelEspecialista[$index][0].start.toFormat('dd/MM')}}</h1>
                        <mat-select [(value)]="this.fechaSeleccionada" class="custom-select" placeholder="00:00">
                            @for (item of this.horariosDelEspecialista[$index]; track item)
                            {
                                @if (this.isHorarioDisponible(item))
                                {
                                    <mat-option [value]="item.start.toISO()" >{{item.start.toFormat('HH:mm')}}</mat-option>
                                }
                            }
                        </mat-select>
                        <button type="button" mat-flat-button (click)="this.insertTurno()">Tomar turno</button>
                    </div>
                </div>
            }
        }

    </div>

</div>